/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-image: url('../images/banner/banner2.png');
    height: 800px;
   max-width: 1600px;
    

}
*{
    margin: 0;
    padding: 0;
}
.content{

float: right;
margin-top: 200px;
margin-right: 100px;

}
  
    .banner-text{
    text-align: right;
    width: 500px;
    height: 200px;
    }
    .banner-text h1{
        font-size: 60px;

    }
    .banner-text p{
        color: #444343;
        font-size: 17px;
        margin-top: 20px;
        
    }
    .btn-primary{
        border-radius: 5px;
    background: #F15B22;
    border: 0;
    width: 120px;
    height: 50px;
    color: azure;
    margin-top: 30px;

    }